<%= render "shared/header" %>
<div class="main gr-task-edit pt-3">
  <div class="d-flex justify-content-center bg-primary w-50 h-75 m-auto text-center mt-5 mb-5 rounded-3 bg-light overflow-auto">
    <div class='chat-room-form pt-5'>
      <h1>タスク編集</h1>
        <%=form_with model: [@room, @task], local: true do |f|%>
            <%= render 'shared/error_messages', model: f.object %>
            <div>
            <%= f.label :日付を選択, class: 'lavel' %>
            <%= f.date_field :start_time, class: 'form-control' %>
          </div>
          <div class="mt-3">
            <%= f.label :タスク名, class: 'lavel ' %>
            <%= f.text_field :task_name, class: 'form-control' %>
          </div>
            <div class="mt-3">
              <%= f.label :タスク詳細, class: 'lavel' %>
              <%= f.text_area :content, class: 'form-control' %>
            </div>
            <div class="mt-3"> 
              <%= f.label :カテゴリー, class: 'lavel' %>
              <%= f.collection_select(:category_id, Category.where(room_id: params[:room_id]), :id, :name, {}, {class:"select-box", id:"item-category"}) %> 
            </div>
            <%= f.submit '保存', class: "mt-3 mb-3" %>
        <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>