<%= render "shared/header" %>
<div class="main">
  <div class="text-center overflow-auto">
    <div class="w-50 m-auto bg-light  text-align-center mt-5 rounded-3">
      <%= link_to room_tasks_path(@task.room.id),  class: "text-body btn " do %>
      
      <h1 class="mt-3"><%= @task.task_name %></h1>
      
          <div class="room mt-4">
            <div class="room-name mb-3">
              <h5>詳細</h5>
              <%= @task.task_name %>
            </div>
          </div>
          <h5>作成者</h5>
          <p><%= @task.user.nickname %></p>
        
          <p>完了状況：<%= @task.is_completed ? "完了" : "未完了" %></p>
          
              
            <% end %>
            <div class="w-50 m-auto bg-light  text-align-center mt-4 rounded-3">
            <% if user_signed_in? && current_user.id == @task.user.id || user_signed_in? && current_user.id == @owner.user.id %>
              <%= link_to "タスクの編集", edit_room_task_path(@task.room_id, @task.id), method: :get, class:"btn btn-primary"  %>
              <p class="or-text mt-3">or</p>
              <%= link_to "削除", room_task_path(@task.room_id, @task.id), method: :delete, class:"btn btn-danger", data: {confirm: "タスクを削除しますか？"} %>
            <% end %>
            </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>