<%= render "shared/header" %>
<div class="main gr-task-show overflow-auto">
  <div class="text-center ">
    <div class="w-50 m-auto bg-light  text-align-center mt-5 rounded-3 mb-5">
      <%= link_to room_tasks_path(@task.room.id),  class: "text-body btn " do %>
      
      <h1 class="mt-3"><%= @task.task_name %></h1>
      
          <div class="room mt-4">
            <div class="room-name pb-3">
              <h5>詳細</h5>
              <%= @task.content %>
              <% if @task&.category.present? %>
                <h5 class="pt-3">カテゴリー</h5>
                <%= @task.category.name %>
              <% end %>
              <div class="p-2 <%= 'text-danger' if Date.parse(l(@task.start_time.to_date, format: :short)) < Date.current %>">
                <h5>予定日</h5>
                <p><%= l @task.start_time.to_date, format: :short %></p>
              </div>
            </div>
          </div>
          <h5>作成者</h5>
          <p><%= @task.user.nickname %></p>

          <% if @task.edit_user_id? %>
          <h5>編集者</h5>
          <p><%= @task.edit_user.nickname %></p>
          <p>編集日：<%= l @task.updated_at , format: :short%></p>
          <% end %>

        
          <p>完了状況：<%= @task.is_completed ? "完了" : "未完了" %></p>
          
  
    
            <% end %>
          <div>
            <div class="container">
              <% if user_signed_in? %>
              <%= form_with(model: [@room, @task, @comment], local: true) do |form| %>
                <%= form.text_area :comment %>
                <div class="my-5">
                <%= form.submit 'コメントを投稿', class:"btn btn-info" %>
              </div>
              <% end %>
              <% else %>
                <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
              <% end %>
            </div>

            
              <div class="comments p-2">
                <% if @comments.length > 0 %>
              <h4>＜コメント一覧＞</h4>
              <% @comments.each do |comment| %>
                <p>
                  <strong><%= comment.user.nickname%>：</strong>
                  <%= comment.comment %>
                  <%= l comment.created_at, format: :short %>
                  <% if user_signed_in? && current_user.id == comment.user.id %>
                    <%= link_to '削除', room_task_comment_path(@task.room_id, @task.id, comment.id), method: :delete, data: { confirm: 'コメントを削除しますか？' } %>
                  <% end %>
                </p>
                <% end %>
               <% end %>
            </div>
          
            

            <div class="w-50 m-auto bg-light  text-align-center mt-4  pb-5 rounded-3 ">
            <% if user_signed_in? && current_user.id == @task.user.id || user_signed_in? && current_user.id == @owner.user.id %>
              <%= link_to "タスクの編集", edit_room_task_path(@task.room_id, @task.id), method: :get, class:"btn btn-primary"  %>
              <p class="or-text mt-3">or</p>
              <%= link_to "タスクの削除", room_task_path(@task.room_id, @task.id), method: :delete, class:"btn btn-danger", data: {confirm: "タスクを削除しますか？"} %>
            <% end %>
            </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>