<div class= "header bg-dark">
  <nav class="navbar navbar-expand navbar-light ">
    <div class="container-fluid ">
      <%= link_to "タスクマネージャー", root_path, class: "navbar-brand text-white"  %>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto hamburger">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to current_user.nickname, "#", class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ルーム作成', new_room_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
            </li>
            <% if defined?(@room) && @room && !action_name.eql?("new") %>
              <li class="nav-item">
                <%= link_to 'ルーム', room_tasks_path(@room.id), class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to 'カテゴリー', room_categories_path(@room.id), class: "nav-link text-white" %>
              </li>
            <% end %>
          <% else %>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to '新規登録', new_user_registration_path, class: "nav-link text-white" %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
  </nav>
</div>

