<header class='page-header'>
  <div class='nav'>
    <div class="top">
      <div><%= link_to "タスクマネージャー", "#", class: "user-nickname" %></div> 
    </div>
    <ul class='lists-right'>    
        <li><%= link_to "hello", "#", class: "user-nickname" %></li> 
        <li> <%= link_to 'ログアウト', "#", method: :delete, class: "logout" %></li> 
        <li><%= link_to 'ログイン', "#", class: "login" %></li>
        <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
        <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    </ul>
  </div>
</header>