<%= render "shared/header" %>
<div class="main text-center pt-5 gr-show">
  <div class="w-50 m-auto bg-light  text-align-center  rounded-3 overflow-auto">
    <%= link_to room_tasks_path(@room.id),  class: "text-body btn " do %>
    <h1><%= @room.name %></h1>
    
        <div class="room">
          <div class="room-name mb-3">
            <h5>参加者</h5>
            <% @room.users.where.not(id: current_user.id).each do |user| %>
              <p><%= user.nickname %>さん</p>
            <% end %>
          </div>
        </div>
        <div>
          
            <h5>作成者</h5>
            <p><%= @owner.name %></p>
          
          </div>
          
          
          <% end %>
          <div>
            <% if user_signed_in? && current_user.id == @owner.user.id %>
            <%= link_to "ルームの編集", edit_room_path(@room.id), method: :get, class:"btn btn-primary"  %>
            <p class="or-text mt-3">or</p>
            <%= link_to "削除", room_path(@room.id), method: :delete, class:"btn btn-danger", data: {confirm: "ルームを削除しますか？"} %>
            <% end %>
          </div>
          <div class="my-5">
          <%= link_to "カテゴリーの一覧", room_categories_path(@room.id), method: :get, class:"btn btn-success"  %>
          </div>
  </div>
</div>
<%= render "shared/footer" %>
